@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.username {
    height: 10px;
    width: 10px;
    top: 33px;
}

body {
    font-family: Roboto, system-ui, sans-serif;
    background-color: #242d34;
    color: #e7e9ea;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    color: #fff;
}

.container1 {
    max-width: 600px;
    width: 100%;
    background-color: #000;
    padding: 24px 20px;
    border-radius: 16px;
    margin-inline: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.content {
    width: 300px;
    text-align: center;
    margin-inline: auto;
    color: #fff;
}

.email-log-in {
    width: 100%;
    position: relative;
}

.email-log-in input {
    width: 100%;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #333639;
    outline: none;
    padding: 10px 10px;
    color: white;
    font-size: 18px;
    font-family: "Roboto";
}

input::placeholder {
    opacity: 0.2; 
    color: #fff;
}

input:focus {
    outline: 1px solid #1d9bf0;
}

.button {
    width: 140px;
    height: 45px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 45px;
    margin-left: 32%;
}
