* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./IMG/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(200px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 20px;

}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    margin: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    margin-left: 25%;
    width: 50%;
    background-color: #303f9ea6;
    color: white;
    border: 2px solid #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ab59df74;
}